<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="http://localhost:8080/css/edit-subject.css" rel="stylesheet" />
    <title>Edit subject</title>
</head>
<body>

<div class="container">

    <form action="#" th:action="@{/api/subject/edit/{id}(id=${subject.subjectId})}" th:object="${subject}"  method="post" class="d-flex flex-column justify-content-center">
        <fieldset>
            <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{subjectName}" class="form-control" id="inputName" placeholder="-">
                </div>
                <small id="nameHelp" class="text-danger form-text" th:if="${#fields.hasErrors('subjectName')}" th:errors="*{subjectName}"></small>
            </div>
            <div class="form-group row">
                <label for="inputGroup" class="col-sm-2 col-form-label">Group</label>
                <div class="col-sm-10">
                    <input type="number" min="0" th:field="*{subjectGroup}" class="form-control" id="inputGroup" placeholder="-">
                </div>
                <small id="groupHelp" class="text-danger form-text" th:if="${#fields.hasErrors('subjectGroup')}" th:errors="*{subjectGroup}"></small>
            </div>
            <div class="form-group row">
                <label for="inputTime" class="col-sm-2 col-form-label">Time</label>
                <div class="col-sm-10">
                    <select class="custom-select form-group" id="inputTime" th:field="*{subjectTime}">
                        <option th:each="time : ${times}"
                                th:value="${time}" th:text="${time}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputDay" class="col-sm-2 col-form-label">Day</label>
                <div class="col-sm-10">
                    <select class="custom-select form-group" id="inputDay" th:field="*{dayOfWeek}">
                        <option th:each="day : ${T(java.time.DayOfWeek).values()}"
                                th:value="${day}" th:text="${day}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputTeacher" class="col-sm-2 col-form-label">Teacher</label>
                <div class="col-sm-10">
                    <select class="custom-select form-group" id="inputTeacher" th:field="*{subjectTeacher}">
                        <option th:each="teacher : ${teachers}"
                                th:value="${teacher.getTeacherId()}" th:text="${teacher.getUser().getFirstName() + ' ' + teacher.getUser().getLastName()}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputWeeks" class="col-sm-2 col-form-label">Weeks</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{weeks}" class="form-control" id="inputWeeks" placeholder="-" >
                </div>
            </div>
            <div class="form-group row">
                <label for="inputFaculty" class="col-sm-2 col-form-label">Faculty</label>
                <select class="custom-select form-group" id="inputFaculty" th:field="*{subjectFaculty}">
                    <option th:each="fac : ${T(com.schedule.proj.model.Faculty).values()}"
                            th:value="${fac}" th:text="${fac}"></option>
                </select>
            </div>
            <div class="form-group row">
                <label for="inputSpec" class="col-sm-2 col-form-label">Speciality</label>
                <div class="col-sm-10">
                    <select class="custom-select form-group" id="inputSpec" th:field="*{subjectSpeciality}">
                        <option th:each="spec : ${T(com.schedule.proj.model.Speciality).values()}"
                                th:value="${spec}" th:text="${spec}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEducationFormat" class="col-sm-2 col-form-label">EducationFormat</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{educationFormat}" class="form-control" id="inputEducationFormat" placeholder="-">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </fieldset>
    </form>
</div>
</body>
</html>